<div class="board">
  <ng-container *ngFor="let row of board.getMatrix(); let i = index;">
    <ng-container *ngFor="let cell of row; let j = index;">
      <div class="cell" [class.highlighted]="cell.isHighlighted" [class.selected]="cell.isSelected" [class.isFillable]="cell.isFillable"
        (click)="selectCell(i, j)">
        <span *ngIf="cell.isVisible">{{cell.userValue}}</span>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="value-selection">
  <div *ngFor="let value of availableValues" class="cell" (click)="selectValue(value)">
    {{value}}
  </div>
  <!-- Special cell to erase a previous value -->
  <div class="cell far fa-trash-alt" (click)="removeValue()"></div>
</div>